$postRadius: 15px;
$postBlue: rgb(120, 188, 211);
$postGray: rgb(214, 214, 214);

// Post
.post {
    background-color: rgb(255, 255, 255);
    border-radius: $postRadius;
    max-width: 45%;
    margin: 3% auto 3% auto;
}

.post:hover {
    filter: drop-shadow(0px 3px 3px rgb(171, 171, 171));
    transition: filter 0.2s ease;
    cursor: pointer;
}

.post-header {
    background-color: $postBlue;
    color: white;
    border-radius: $postRadius $postRadius 0px 0px;
    padding: 7px;
}

.post-body {
    border-color: $postGray;
    border-style: solid;
    border-top: none;
    padding: 7%;
}

.post-footer {
    background-color: $postGray;
    border-radius: 0px 0px $postRadius $postRadius;
    text-align: end;
    padding: 7px;
}

// Post Page
.post-page .post:hover{
    filter: none;
    transition: none;
    cursor: default;
}

.post-page .post {
    font-size: larger;
}

.post-page .post, .post-page .post-comments {
    max-width: 55%;
}

// Comments

.post-page .post-comments {
    margin: auto;
}

.comment-input {
    background-color: rgb(241, 241, 241);
    border-color: rgb(156, 156, 156);
    border-style: solid;
    border-radius: $postRadius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5px;
    padding: 15px;
}

.comment-input span {
    color: red;
}

.comment-input-boxes {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
}
.comment-input input {
    border-radius: $postRadius - 5px;
    border-style: solid;
    border-width: 1px;
    height: 40px;
    width: 77%;
}

.comment-input button {
    background-color: $postBlue;
    color: white;
    border-color: $postBlue;
    border-style: solid;
    border-width: 1px;
    border-radius: $postRadius - 5px;
    min-width: 20%;
}

.comment-input button:hover {
    background-color: rgb(71, 161, 192);
    border-color: rgb(71, 161, 192);
    cursor: pointer;
}

.comment-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
    margin-top: 2%;
    margin-bottom: 5%;
}

.comment {
    border-color: $postGray;
    border-style: solid;
    border-radius: $postRadius - 10px;
    width: 100%;
    text-align: left;
    padding: 20px 0px 20px 0px;

    display: flex;
    flex-direction: column;
}

.comment label {
    // background-color: red;
    text-align: right;
    padding: 0px 20px 0px 0px;

}

.comment p {
    padding-left: 20px;
}