
$postRadius: 15px;
$postBlue: #229cff;
$postBlue2: #1b7fd1;
$navGray: rgb(233, 233, 233);

.create-post {
    display: flex;
    justify-content: center;
    border-color: $navGray;
    border-style: solid;
    border-left: none;
    border-right: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;

    padding: 20px 15px 15px 15px;
}

.post-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    width: 90%;
}

.post-form input {
    height: 40px;
    margin-top: 10px;
    font-size: large;
    border-style: none;
    border-bottom: 1px solid $navGray;
    outline: none;
}

.post-form span{
    color: red;
}

.post-form button {
    background-color: $postBlue;
    color: white;
    border-style: none;
    border-radius: 30px;
    font-weight: 600;

    width: fit-content;
    padding: 0px 20px 0px 20px;
    height: 30%;
    margin-left: auto;
    margin-top: 5px;
}

.post-form button:hover {
    background-color: $postBlue2;
    cursor: pointer;
}
