$postRadius: 15px;
$postBlue: rgb(120, 188, 211);
$postGray: rgb(248, 248, 248);
$navGray: rgb(232, 232, 232);

$heartRed: rgb(240, 10, 29);
$heartRed2:rgb(191, 12, 27);

// Post
.post {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid $navGray;
    width: 100%;
    margin: auto;
    display: flex;
}

.home .post:hover {
    background-color: $postGray;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.post-header {
    padding: 10px;
}


.post-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 20px 10px 10px 10px;
}

.post-body-top {
    display: flex;
}

.post-body-top .timestamp {
    font-weight: 400;
    color: rgba(151, 151, 154, 0.787);
}

.post-body-center {
    width: 100%;
    text-align: left;
}

.post-body h3, .post-body h4, .post-body h5 {
    margin: 3px;
    font-weight: normal;
}

.post-body h3 {
    font-weight: 600;
}

.post-editable:hover {
    cursor: auto;
}

.post-footer {    
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.liked-btn {
    color: $heartRed;
}
.unliked-btn {
    color: rgba(169, 169, 169, 0.981);
}
.liked-btn:hover, .unliked-btn:hover {
    color: $heartRed2;
}
.unliked-btn:hover {
    color: rgba(121, 121, 121, 0.981);
}

// Post Page

.list-of-posts {
    display: flex;
    flex-direction: column-reverse;
}

.post-page .post:hover{
    filter: none;
    transition: none;
    cursor: default;
}

.post-page .post {
    font-size: larger;
}

.post-page .post, .post-page .post-comments {
    max-width: 55%;
}

// Comments

.post-page .post-comments {
    margin: auto;
}

.comment-input {
    background-color: rgb(241, 241, 241);
    border-color: rgb(156, 156, 156);
    border-style: solid;
    border-radius: $postRadius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5px;
    padding: 15px;
}

.comment-input span {
    color: red;
}

.comment-input-boxes {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
}
.comment-input input {
    border-radius: $postRadius - 5px;
    border-style: solid;
    border-width: 1px;
    height: 40px;
    width: 77%;
}

.comment-input button {
    background-color: $postBlue;
    color: white;
    border-color: $postBlue;
    border-style: solid;
    border-width: 1px;
    border-radius: $postRadius - 5px;
    min-width: 20%;
}

.comment-input button:hover {
    background-color: rgb(71, 161, 192);
    border-color: rgb(71, 161, 192);
    cursor: pointer;
}

.comment-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 15px;
    margin-top: 2%;
    margin-bottom: 5%;
}

.comment {
    border-color: $postGray;
    border-style: solid;
    border-radius: $postRadius - 10px;
    width: 100%;
    text-align: left;
    padding: 20px 0px 20px 0px;

    display: flex;
    flex-direction: column;
}

.comment .delete-btn {
    background-color: red;
    color: white;
    border-style: none;
    width: fit-content;
    padding: 5px;
    margin-left: auto;
    margin-right: 10px;
}

.comment .delete-btn:hover {
    background-color: rgb(176, 0, 0);
    cursor: pointer;
}

.comment label {
    // background-color: red;
    text-align: right;
    padding: 0px 20px 0px 0px;

}

.comment p {
    padding-left: 20px;
}