$postBlue: #229cff;
$postBlue2: #1b7fd1;

$postGray: rgb(233, 233, 233);
$navGray: rgb(232, 232, 232);

body {
  margin: 0px;
}

.App {
  text-align: center;
  font-family: 'Segoe UI';
  display: flex;
  flex-direction: row;
}

.navbar {
  background-color: white;
  border-right: 1px solid $postGray;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 25vw;
}

.main-page {
  width: 100%;
  margin-left: 25vw;
}

#logo-icon {
  width: 50px;
  padding: 5px;
}

.navbar {
  padding-top: 20px;
}

.navbar button {
  background-color: rgb(145, 145, 145);
  color: white;
  border-radius: 30px;
  border-style: none;
  width: 20%;
  min-width: fit-content;
  padding: 10px;
}
.navbar button:hover {
  background-color: rgb(115, 115, 115);
  font-weight: 600;
  cursor: pointer;
}

.navbar button, .nav-link {
  font-size: medium;
}

.nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
  color: black;
  text-decoration: none;
  border-radius: 30px;
  padding: 15px;
  font-weight: 200;
}
.nav-link:hover {
  background-color: $postGray;
  font-weight: bolder;
}

.nav-link h3 {
  margin: 0px;
  font-weight: 400;
}

.icon-bold {
  font-weight: 700 !important;
}

.nav-body {
  min-width: fit-content;
  width: 15vw;
}

.nav-logo, .nav-icons {
  width: 60%;
  min-width: fit-content;
}

.nav-icons {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-icons svg {
  font-size: xx-large;
}

.nav-icons .post-btn {
  background-color: $postBlue;
  color: white;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
.nav-icons .post-btn:hover {
  background-color: $postBlue2;
}

.post-btn h3 {
  font-weight: 600;
}

.post-btn .post-icon {
  display: none;
}

.nav-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 30px;
  margin-bottom: 30px;
}
.nav-footer:hover {
  background-color: $postGray;
}

.nav-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.profile-img {
  width: 50px;
  border-radius: 50%;
  margin-top: 10px;
  border-color: $navGray;
  border-style: solid;
}
.profile-img:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.nav-profile .profile-img {
  margin: 0px;
}
.navbar .profile-img:hover {
  filter: none;
}

.navbar .username {
  margin: 0px;
  padding: 10px;
}

.navbar .username:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1250px) {

  .nav-link h3 {
    display: none;
  }

  .post-btn .post-icon {
    display: block;
    border-radius: 50%;
  }

  .main-page {
    margin-left: 15vw;
  }
  .navbar {
    width: 15vw;
    min-width: fit-content;
    align-items: flex-start;
  }

  .nav-logo, .nav-body, .nav-icons {
    margin: 0px auto 0px auto;
    width: fit-content;
  }

  .nav-link {
    border-radius: 50%;
  }

  .nav-footer {
    // background-color: red;
    flex-direction: column;
    row-gap: 10px;
    display: flex;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .nav-footer p {
    display: none;
  }
  .nav-footer button {
    padding: 10px;
  }

}