$postRadius: 15px;
$postBlue: rgb(120, 188, 211);
$postGray: rgb(214, 214, 214);

.post {
    background-color: rgb(255, 255, 255);

    border-radius: $postRadius;

    max-width: 50%;
    margin: 3% auto 3% auto;
}

.post:hover {
    filter: drop-shadow(0px 3px 3px rgb(171, 171, 171));
    transition: filter 0.2s ease;
    cursor: pointer;
}

.post-header {
    background-color: $postBlue;
    color: white;
    border-radius: $postRadius $postRadius 0px 0px;
    padding: 5px;
}

.post-body {
    border-color: $postGray;
    border-style: solid;
    border-top: none;
    padding: 7%;
}

.post-footer {
    background-color: $postGray;
    border-radius: 0px 0px $postRadius $postRadius;
    text-align: end;
    padding: 3px;
    padding-right: 10px;
}